# Pandas Challenges 

Now that you know how to use the pandas library, follow these prompts to practice your skills. 

1. Run the cell to import some data about the planets and see the first five rows.

In [1]:
import pandas as pd

planets = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/planets.csv')

planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

## Challenge 1
Drop all the data with empty values.

In [ ]:
# Add your code here: 
planets = planets.dropna()

## Challenge 2 

Make a new dataset with the ten largest planets in the data

In [5]:
# Make your dataset here:
ten = planets.sort_values(by="mass", ascending=False)
ten = ten[0:10]
print(ten)

              method  number  orbital_period   mass  distance  year
321  Radial Velocity       1     2371.000000  25.00     37.05  2008
63   Radial Velocity       1      305.500000  20.60     92.51  2013
3    Radial Velocity       1      326.030000  19.40    110.62  2007
317  Radial Velocity       1        1.328300  18.37     43.03  2003
462  Radial Velocity       1     1951.000000  18.15     57.21  2008
527  Radial Velocity       2     1749.500000  18.10     37.88  2000
575  Radial Velocity       2      255.870000  17.40     46.34  2002
492  Radial Velocity       1        2.391000  15.50     76.51  2009
161  Radial Velocity       2      428.500000  15.20    214.00  2009
518  Radial Velocity       1        8.428198  14.40     31.26  2002